#
# Copyright (C) 2026 Y. Meyer-Norwood
# This file is distributed under the Hippocratic License 3.0 (HL3-CL-ECO-LAW-MIL-SV)
#

# This directory only contains zsh files, so don't fuss about POSIX strictness

disable=SC3001 # (warning): In POSIX sh, process substitution is undefined.
disable=SC3010 # (warning): In POSIX sh, [[ ]] is undefined.
disable=SC3014 # (warning): In POSIX sh, == in place of = is undefined.
disable=SC3030 # (warning): In POSIX sh, arrays are undefined.
disable=SC3033 # (warning): In POSIX sh, naming functions outside [a-zA-Z_][a-zA-Z0-9_]* is undefined.
disable=SC3043 # (warning): In POSIX sh, 'local' is undefined.
disable=SC3045 # (warning): In POSIX sh, read -q is undefined.
disable=SC3046 # (warning): In POSIX sh, 'source' in place of '.' is undefined.
disable=SC3051 # (warning): In POSIX sh, 'source' in place of '.' is undefined.
