#
# Copyright (C) 2026 Y. Meyer-Norwood
# This file is distributed under the Hippocratic License 3.0 (HL3-CL-ECO-LAW-MIL-SV)
#

* linguist-detectable

profile linguist-language=sh
shellcheckrc linguist-language=shellcheckrc
*.zunit linguist-language=sh diff=zsh eol=lf
