#
# SPDX-FileCopyrightText: 2026 Y. Meyer-Norwood <norwd@noreply.codeberg.org>
# SPDX-FileCopyrightText: 2026 Y. Meyer-Norwood <106889957+norwd@users.noreply.github.com>
# SPDX-License-Identifier: Hippocratic-3.0-CL-ECO-LAW-MIL-SV.txt
#

# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
# https://github.com/github-linguist/linguist/blob/main/lib/linguist/languages.yml
attributes linguist-language=gitattributes linguist-detectable
config linguist-language=gitconfig linguist-detectable
config.d/** linguist-language=gitconfig linguist-detectable
ignore linguist-language=gitignore linguist-detectable
