# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
# https://github.com/github-linguist/linguist/blob/main/lib/linguist/languages.yml
attributes linguist-language=gitattributes linguist-detectable
config linguist-language=gitconfig linguist-detectable
config.d/** linguist-language=gitconfig linguist-detectable
ignore linguist-language=gitignore linguist-detectable
